/* Style Sheet */

/* Styling the Navigation Bar */
/* Used as inspiration - CHANGE NAV MORE https://codepen.io/fghty/pen/NWpjwVd */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav{
  height: 95px;
  width: 100%;
  background: #5c8631;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
    box-shadow: 0 8px 2px -2px rgba(0,0,0,.15);
}

.nav .logo{
    float: left;
    position: relative;
    top: 10px;
}

nav .navbar-item{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    float: right;
    position: relative;
    top: 10px;
}

.nav a:hover{
  color: #ffffff;
  background: rgb(151, 193, 112);
}

@media screen and (min-width: 1237px) {
    .dropbtn {
        display: none !important;
    }
}

@media screen and (max-width: 1240px) {
    .navbar-item{
        visibility: collapse;
        display: none !important;}

}


.dropbtn {
    position: absolute;
    top: 10px;
	border-radius: 15px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 24px;
	letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
    margin: 8px auto 0;
    box-shadow: 5px 5px rgba(0,0,0,.15);
}

.dropdown {
    position: absolute;
    display: inline-block;
    float: right;
    top: 10px;
    right: 25%;
    z-index: 1000;
}

.dropdown-content {
    top: 62px;
    display: none;
    position: absolute;
    background-color: #5c8631;
    border-radius: 15px;
}

.dropdown-content a {
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #97c170;
    border-radius: 5px
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #97c170;
}

/* Header */
h1 {
    padding: 20px ;
    text-align: center;
    color: black;
}

h3 {
    text-align: center;
    padding: 30px 10px 10px 10px;
}

h4 {
    padding-bottom: 5px;
}

/* Body */
body {
    background-color: #97c170;
}

p {
    font: 15px Poppins, sans-serif;
    color: black;
}

p.page-header {
    font-size: 20px;
    text-align: center;
    color: #a9a9a9;
    text-decoration: underline;
}

#map {
    top: 20px;
    height: 350px;
    width: 70%;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 85px;
    max-width: 850px;
}

#map1 {
    top: 20px;
    height: 350px;
    width: 70%;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    max-width: 850px;
}

.fav {
    position: relative;
    top: 50%;
    left: 50%;
    cursor: pointer;
}


.marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.notification-is-danger{
    width: 90%;
    display: block;
    text-align: center;
	border-radius: 20px;
	border: 1px solid #8e2c23;
	background-color: #fedce0;
	color: #8e2c23;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 30px;
	letter-spacing: 1px;
    position: absolute;
    left: 50%;
    top: 4.5%;
    transform: translate(-50%, -50%);
}

.login-form{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    background: white;
    color: black;
    position: relative;
    width: 350px;
    height: 550px;
    box-shadow: 20px 20px rgba(0,0,0,.15);
}

.register-form{
    padding: 40px;
    max-width:600px;
    margin:40px auto;
    align-content: center;
    background: white;
    color: black;
    position: relative;
    height:86%;
    width:80%;
    box-shadow: 20px 20px rgba(0,0,0,.15);
}

.fb-list {
    font-size: 14px;
    text-align: center;
    height: 50px;
    width: 90%;
    border: rgba(0,0,0,.3) 2px solid;
    box-sizing: border-box;
    padding: 20px;
    display: block;
    margin: 15px auto 30px;
}

form label{
  padding: 20px 25px 20px 40px;
}

.input{
    font-size: 14px;
    text-align: center;
    height: 50px;
    width: 90%;
    border: rgba(0,0,0,.3) 2px solid;
    box-sizing: border-box;
    padding: 20px;
    display: block;
    margin: 15px auto 30px;
}

.recaptcha {
    margin: auto;
    padding: 20px;
    display: inline-block;
}

.first-name{
    position:relative;
    width:42.5%;
    margin-right:4%;
    margin-left: 5%;
    display:inline-block;
    font-size: 14px;
    text-align: center;
    height: 50px;
    border: rgba(0,0,0,.3) 2px solid;
    box-sizing: border-box;
}

.last-name{
    width:42.5%;
    display: block;
    float:right;
    margin-right: 5%;
    font-size: 14px;
    text-align: center;
    height: 50px;
    border: rgba(0,0,0,.3) 2px solid;
    box-sizing: border-box;
}

input::placeholder {
  color: gray;
  text-align: center;
}

.login_text{
    padding: 25px 5px;
    font-size: 15px;
    text-align: center;
}

.link-to-reg{
    color: darkgrey;
    text-align: center;
    font-size: 14px;
}

.button {
    text-align: center;
	border-radius: 20px;
	border: 1px solid #5c8631;
	background-color: #97c170;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin: 30px auto ;
    width: 55%;
}

.fb-button{
    text-align: center;
	border-radius: 15px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 35px;
	letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin: 8px auto 0;
    width: 60%;
    max-width: 850px;
    box-shadow: 5px 5px rgba(0,0,0,.15);
}

.submit-button{
    text-align: center;
}

button:active {
	transform: scale(0.95);
}

/* Contact Us page */

.contact-us{
    margin: 2%;
}

/* Food Bank Information Page */
.fb-contact-details{
    margin: 2%;
}

h3.fb-contact-details{
    text-align: left;
}

/* Profile page */
.profile-display{
    border: thin solid rgba(0, 0, 0, .15);
    text-align: center;
    margin: 20px auto;
    background-color: white;
    align-content: center;
    position: relative;
    width: 70%;
    height: 75%;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    font-size: 15px;
}

.form-header{
    font-weight: bold;
    padding: 2px;
}

.name-details{
    padding: 10px;
}

.contact-details{
    padding: 10px;
}

.address-details{
    padding: 10px;
}

.fb-preference{
    padding: 10px;
}

.notification{
    padding: 10px;
}

.diet_req{
    padding: 10px;
}

.their-appointments{
    padding: 10px;
}

/* Manage Address Page */
table, tr, td {
    border-collapse: collapse;
    border: thin solid rgba(0, 0, 0, .15);
}
.manage-addresses{
    margin: 10px;
    width:100%;
    table-layout: fixed;
}

th.manage-addresses{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    color: #000000;
}

td.manage-addresses{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    color: #000000;
}

/* Opening Hours */

.opening-hours{
    margin: 10px;
    width:100%;
    table-layout: fixed;
}

th.opening-hours{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    color: #000000;
}

td.opening-hours{
    padding: 15px;
    vertical-align:middle;
    font-weight: 300;
    color: #000000;
}

.index-main-banner {
    background: #ffffff;
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
    top: 102px;
    height: 300px;
    overflow: hidden;
    border-radius: 0 0 20% 70%;
}

/* Update Food Bank Profile Page */
.update-food-bank-profile h4{
    text-align: center;
}

.index-main-banner .index-text-right {
    float: right;
}

.index-main-banner .index-img-left {
    float: left;
}

.index-main-banner .index-donate-button{
	border-radius: 20px;
	border: 1px solid #5c8631;
	background-color: #97c170;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
    cursor: pointer;
    position: relative;
    left: 176px;
    top: 30px;
    text-decoration: none;
}

.index-div-break{
    background: #ffffff;
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
    top: 480px;
  height: 550px;
  overflow: hidden;
    align-content: center;

}

.index-div-break .index-div-p{
    position: relative;
    float: left;
}

.index-div-break .break-text {
    position: relative;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.manage-addresses{
    position: relative;
    text-align: center;
    padding: 0.5rem;
}