<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book an Appointment</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>

<!-- Page Header -->
<p class="page-header">Book an Appointment</p>

<!-- Creating the appointment booking form -->
<div>
<form>
    <label for="appt-date">Appointment Date:</label>
    <input type="date" id="appt-date" name="appt-date"><br><br>

    <label for="appt-time">Appointment Time:</label>
    <input type="time" id="appt-time" name="appt-time"><br><br>

    <label for="f-name">First name:</label>
    <input type="text" id="f-name" name="f-name"><br><br>

    <label for="l-name" >Last name:</label>
    <input type="text" id="l-name" name="l-name"><br><br>

    <label for="food-banks">Select a food bank:</label>
    <select name="food-banks" id="food-banks">
        <option value="res1">Option1</option>
        <option value="res2">Option2</option>
        <option value="res3">Option3</option>
        <option value="res4">Option4</option>
    </select><br><br>

    <label for="auth-type">Method of authentication:</label>
    <select name="auth-type" id="auth-type">
        <option value="auth1">Option1</option>
        <option value="auth2">Option2</option>
    </select><br><br>
    <input type="submit" value="Submit">
</form>
</div>

<!-- Link to edit booking page -->
<div>
    <p><a href="edit-booking.html">Edit a booking</a></p>
</div>


</body>
</html>