<!-- author: Alli Edwards, Anthony Clermont
 Simple information page that links to citizens advice website-->

{% extends "base.html" %}

{% block content %}

    <h1 class="page-header">Contact Us</h1>
    <div class="contact-us">
        <p> Have a question, or want more information about the website? Please contact us at:
            <br> Email: feedingnewcastle@gmail.com
            <br><br>
            For more information on accessing a food bank, please go to
            <a href="https://www.citizensadvice.org.uk/benefits/help-if-on-a-low-income/using-a-food-bank/">Citizens Advice </a>
            <br><br>
            This website acts a management tool for those looking to donate or receive food from local food banks.
            We cannot distribute food bank vouchers or give referrals for food banks that require them.
        </p>
    </div>
{% endblock %}