{% extends "base.html" %}

{% block content %}
    <h1>Donate</h1>
    <div class="div-bg">
        <h1 class="circle"> 1</h1>
        <h1 class="circle"> 2</h1>
        <h1 class="circle"> 3</h1>

        <img src="../static/logo600x200.png" alt="Feeding Newcastle" width="80" height="80" style="display: inline-block">
        <img src="../static/logo600x200.png" alt="Feeding Newcastle" width="80" height="80" style="display: inline-block">
        <img src="../static/logo600x200.png" alt="Feeding Newcastle" width="80" height="80" style="display: inline-block">
    </div>
{% endblock %}