<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit a booking</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<!-- Page Header -->
<p class="page-header"> Edit a Booking</p>

<!-- Creating the change booking details form -->
<div>
    <form>
    <label for="booking-num">Selected Booking:</label>
    <select name="booking-num" id="booking-num">
        <option value="opt1">Option1</option>
        <option value="opt2">Option2</option>
    </select><br><br>

    <label for="appt-date">New Appointment Date:</label>
    <input type="date" id="appt-date" name="appt-date"><br><br>

    <label for="appt-time">New Appointment Time:</label>
    <input type="time" id="appt-time" name="appt-time"><br><br>

        <input type="submit" value="Submit">
    </form>
</div>

<div>
    <p><a href="cancel-booking.html">Cancel a Booking</a></p>
</div>

</body>
</html>