{% extends "base.html" %}

{% block content %}

        <div class="food-bank-register-form">
        <h1>Register your Food Bank</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}. Go to <a href="{{ url_for('users.login') }}">login page</a>.
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST">
                    {{ form.csrf_token() }}
                        {{ form.name(class="input", placeholder="Food Bank Name") }}
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.email(class="input", placeholder="Enter the Company Email Address") }}
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.phone_number(class="input", placeholder="Enter the Company Phone Number") }}
                        {% for error in form.phone_number.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.website(class="input", placeholder="Enter the Company Website") }}
                        {% for error in form.website.errors %}
                            {{ error }}
                        {% endfor %}


                    {{ form.password(class="input", placeholder="Enter your password") }}
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.confirm_password(class="input", placeholder="Confirm your password") }}
                        {% for error in form.confirm_password.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.submit(class="button") }}
            </form>
        </div>
{% endblock %}