{% extends "base.html" %}

{% block content %}
<!-- Page Header -->
<h1 class="page-header"> {{ fb_name }}</h1>

<div id='map'>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
<script>

mapboxgl.accessToken = 'pk.eyJ1IjoiZmVlZGluZ25ld2Nhc3RsZSIsImEiOiJja3hhOXphejQweTcwMzFxYzl1aXk4NXR5In0.OihrSx_S50ZkVWRPjEXL2Q';

const lat = {{ lat|safe }};
const long = {{ long|safe }};

const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v10',
  center: [long, lat],
  zoom: 14
});

const marker = new mapboxgl.Marker().setLngLat([long, lat]).addTo(map);

</script>
    </div>
{{ fb_stock }}

    <div>
    Contact details:
    Email: {{ fb_email }}
    Phone number: {{ fb_phone }}
    Website: {{ fb_web if fb_web is not none else 'Not Avaialble'}}
    </div>
{% endblock %}