{% extends "base.html" %}

{% block content %}
<!-- Page Header -->
    <h1 class="page-header"> {{ fb_name }}</h1>

    <form method="POST">
        {% if not is_fav and current_user.is_authenticated %}
        <button style="background: transparent; border: 0" type=submit name="action" value="add" class="fav"> <img src="../static/unsaved.png" alt="not saved" width="40" height="40"></button>
        {% elif is_fav%}
        <button style="background: transparent; border: 0" type=submit name="action" value="remove" class="fav"> <img src="../static/saved.png" alt="saved" width="40" height="40"></button>
        {% endif %}
    </form>


<div id='map'>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <script  type='text/javascript' src="../static/config.js"></script>
<script>

mapboxgl.accessToken = config.MAPBOX_API_TOKEN;

const lat = {{ lat|safe }};
const long = {{ long|safe }};

const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v10',
  center: [long, lat],
  zoom: 14
});

var msg = {{fb_name|tojson}};

const popup = new mapboxgl.Popup({offset: 25}).setText(msg);
const marker = new mapboxgl.Marker().setLngLat([long, lat]).setPopup(popup).addTo(map);
</script>
    </div>

    <div class="row">
    <div class="col">
<table class="high-stock">
<tr><td>High in stock:</td></tr>
    {% if fb_stock.starchy > fb_stock.starchy_high %}
    <tr><td>Starchy foods</td></tr>
    {% endif %}
    {% if fb_stock.protein > fb_stock.protein_high %}
    <tr><td>Protein</td></tr>
    {% endif %}
    {% if fb_stock.fruit_veg > fb_stock.fruit_veg_high %}
    <tr><td>Fruit and vegetables</td></tr>
    {% endif %}
    {% if fb_stock.soup_sauce > fb_stock.soup_sauce_high %}
    <tr><td>Soups</td></tr>
    {% endif %}
    {% if fb_stock.drinks > fb_stock.drinks_high %}
    <tr><td>Drinks</td></tr>
    {% endif %}
    {% if fb_stock.snacks > fb_stock.snacks_high %}
    <tr><td>Snacks</td></tr>
    {% endif %}
    {% if fb_stock.cooking_ingredients > fb_stock.cooking_ingredients_high %}
    <tr><td>Cooking Ingredients</td></tr>
    {% endif %}
    {% if fb_stock.condiments > fb_stock.condiments_high %}
    <tr><td>Condiments</td></tr>
    {% endif %}
    {% if fb_stock.toiletries > fb_stock.toiletries_high %}
    <tr><td>Toiletries</td></tr>
    {% endif %}
        </table>
    </div>
<div class="col">
<table class="low-stock">
<tr><td>Low in stock:</td></tr>
    {% if fb_stock.starchy < fb_stock.starchy_low %}
    <tr><td>Starchy foods</td></tr>
    {% endif %}
    {% if fb_stock.protein < fb_stock.protein_low %}
    <tr><td>Protein</td></tr>
    {% endif %}
    {% if fb_stock.fruit_veg < fb_stock.fruit_veg_low %}
    <tr><td>Fruit and vegetables</td></tr>
    {% endif %}
    {% if fb_stock.soup_sauce < fb_stock.soup_sauce_low %}
    <tr><td>Soups</td></tr>
    {% endif %}
    {% if fb_stock.drinks < fb_stock.drinks_low %}
    <tr><td>Drinks</td></tr>
    {% endif %}
    {% if fb_stock.snacks < fb_stock.snacks_low %}
    <tr><td>Snacks</td></tr>
    {% endif %}
    {% if fb_stock.cooking_ingredients < fb_stock.cooking_ingredients_low %}
    <tr><td>Cooking Ingredients</td></tr>
    {% endif %}
    {% if fb_stock.condiments < fb_stock.condiments_low %}
    <tr><td>Condiments</td></tr>
    {% endif %}
    {% if fb_stock.toiletries < fb_stock.toiletries_low %}
    <tr><td>Toiletries</td></tr>
    {% endif %}
        </table>
</div>
    </div>

    <div class="fb-contact-details">
        <h4> Contact details: </h4>
        <p> Email:  {{ fb_email }} </p>
        <p> Phone number: {{ fb_phone }} </p>
    <p> Website: {{ fb_web if fb_web is not none else 'Not Avaialble'}} </p>

    </div>
{% endblock %}