{% extends "base.html" %}

{% block content %}

    <h3> Add Address </h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="notification-is-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

     <form method="POST">

                    {{ form.csrf_token() }}
                        {{ form.building_name(class="input", placeholder="Building Name") }}
                        {% for error in form.building_name.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.number_and_road(class="input", placeholder="Address line") }}
                        {% for error in form.number_and_road.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.town(class="input", placeholder="Town") }}
                        {% for error in form.town.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.postcode(class="input", placeholder="Postcode") }}
                        {% for error in form.postcode.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.submit(class="button") }}
            </form>

{% endblock %}