<!-- author: Anthony Clermont
Page to display all food banks in system and all on map-->

{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Our Food Banks</h1>
    </div>

    <div id='map'>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <script  type='text/javascript' src="../static/config.js"></script>
<script>
    mapboxgl.accessToken = config.MAPBOX_API_TOKEN;

    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
      center: [-1.6141237020492554, 54.972572326660156],
      zoom: 11
    });

    const lat = {{ lat|safe }};
    const long = {{ long|safe }};
    const fb_ids = {{ fb_info|safe }}


    for (let i = 0; i < lat.length; i++) {
        const fb_id = fb_ids[i][1]
        displayPointer(lat[i], long[i], fb_id)
    }

    function displayPointer(lat, long, fb_id) {
        const popup = new mapboxgl.Popup({offset: 25}).setText(fb_id);
        const marker = new mapboxgl.Marker().setLngLat([long, lat]).setPopup(popup).addTo(map);
    }

    map.addControl(
    new mapboxgl.GeolocateControl({
    positionOptions: {
    enableHighAccuracy: true
    },
    // When active the map will receive updates to the device's location as it changes.
    trackUserLocation: true,
    // Draw an arrow next to the location dot to indicate which direction the device is heading.
    showUserHeading: true
    })
    );
</script>
    </div>
    {% for fb in no_dup %}
        <a href="{{ url_for('users.food_bank_information' ,food_bank_id=fb[0]) }}" class="fb-button">
                {{ fb[1] }}
        </a>
    {% endfor %}

{% endblock %}
