<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upcoming Appointments</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<!-- Page Header -->
<p class="page-header">Upcoming Appointments</p>

<!-- View upcoming appointments [3 most recently entered] -->
<table>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Email</th>
        <th>Booking number</th>
    </tr>
    <tr>
        <td>Date1</td>
        <td>Name1</td>
        <td>Email</td>
        <td>Booking1</td>
    </tr>
        <tr>
        <td>Date2</td>
        <td>Name2</td>
        <td>Email2</td>
        <td>Booking2</td>
    </tr>
        <tr>
        <td>Date3</td>
        <td>Name3</td>
        <td>Email3</td>
        <td>Booking3</td>
    </tr>
</table>

<p>Edit table</p>



</body>
</html>