{% extends "base.html" %}

{% block content %}
    <div class="index-main-banner">
    <img src="../static/foodbank_image.jpg" alt="Food bank image" class="index-img-left">
    <h1>Support Feeding Newcastle <br>
        this Christmas</h1>
    <p>Help us fund food banks across Newcastle that helps <br>
        people eat this christmas. </p>
    <a href="{{ url_for('users.donate') }}" class="index-donate-button">
                        Make a difference
    </a>
    </div>
    <div class="index-info-div">
    <img src="../static/info.png" alt="Food bank image" class="index-info-img">
    </div>
    </div>






{% endblock %}
