<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<!-- Page Header -->
<h1> Login </h1>

<!-- Creating a top navigation bar  -->
<div class="nav-bar" id="top-nav-bar">
    <a href="food-banks.html"> Our Food Banks </a>
    <a href="appointments.html"> Book an Appointment </a>
    <a href="donate.html"> Donate </a>
    <a href="register.html"> Register </a>
</div>
<body>
<!-- Creating the Login Form  -->
<form>

    <label for="email">Email Address:</label>
    <input type="text"><br>
    <label for="password">Password:</label>
    <input type="password"><br>
    <label for="confirm-password">Confirm Password:</label>
    <input type="password"><br>
    <input type="submit" value="Submit"><br>
    <br>
    <p>Or Register:</p>
    <a href="register.html">Register</a>

</form>

</body>
</html>