{% extends "base.html" %}

{% block content %}

<!-- Page Header -->
<h1 class="page-header">Stock Management</h1>

<!-- Inventory table -->
<label for="stock-table">Inventory: </label>
<table class="stock-table">
    <tr>
        <th>Inventory ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Quantity in Stock</th>
        <th>Reorder Level</th>
        <th>Reorder Time in Days</th>
        <th>Quantity in Reorder</th>
        <th>Discontinued?</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


</table>

{% endblock %}