{% extends "base.html" %}

{% block content %}

<!-- Page Header -->
<h1 class="page-header">Manage Stock</h1>

    <!-- For stock management option button -->
    <form class="management-option" method="POST">
        {{ management_option_form.csrf_token }}
        <h4> Stock Management Option </h4>
        {{ management_option_form.option(class="form-dropdown") }}
            {% for error in  management_option_form.option.errors %}
                {{ error }}
            {% endfor %}
        <div class="refresh-btn">
            {{ management_option_form.submit(class="button") }}
        </div>
    </form>

    {% if current_user.associated[0].management_option==0 %}
    <!-- Stock Management form for manual option -->
    <form method="POST">
        {{ form.csrf_token() }}
        <table class="manual-stock">
            <th> Category </th>
            <th> Stock Level </th>
            <tr>
            </tr>
                <td> Starchy </td>
                <td> {{ form.starchy(class="form-dropdown")}} </td>
            <tr>
                <td> Protein</td>
                <td> {{ form.protein(class="form-dropdown")}} </td>
            </tr>
            <tr>
                <td> Fruit and Vegetables </td>
                <td> {{ form.fruit_veg(class="form-dropdown")}} </td>
            </tr>
            <tr>
                <td> Soups and Sauces </td>
                <td> {{ form.soup_sauce(class="form-dropdown")}} </td>
            </tr>
            <tr>
                <td> Drinks </td>
                <td> {{ form.drinks(class="form-dropdown")}} </td>
            </tr>
            <tr>
                <td> Snacks </td>
                <td> {{ form.snacks(class="form-dropdown")}} </td>
            </tr>
            <tr>
                <td> Cooking Ingredients</td>
                <td> {{ form.cooking_ingredients(class="form-dropdown")}} </td>
            </tr>
            <tr>
                <td> Condiments</td>
                <td> {{ form.condiments(class="form-dropdown")}} </td>
            </tr>
            <tr>
                <td> Toiletries</td>
                <td> {{ form.toiletries(class="form-dropdown")}} </td>
                <div class="submit-button">
                {{ form.submit(class="button") }}
                </div>
            </tr>

        </table>

    {% endif %}
    </form>

    <!-- Inventory table -->
    {% if current_user.associated[0].management_option==1 %}

        <form method="POST">
            {{ form.csrf_token() }}
                <h2> Item Stock </h2>
                    <table class="item-table">
                        <th> Item </th>
                        <th> Quantity</th>
                         {% for item_form in form.item_forms %}
                        <tr>
                            <td>{{ item_names[loop.index0] }}</td>
                            <td>{{ item_form.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </table>

        <h2> Category stock boundaries</h2>
                    <table class="category-boundaries">
                        <th> Categories</th>
                        <th> Low Level Boundaries</th>
                        <th> High Level Boundaries</th>
                        <tr>
                            <td> Starchy </td>
                            <td> {{ form.category_boundary_form.starchy_low (class="input") }}</td>
                            <td> {{ form.category_boundary_form.starchy_high(class="input") }}</td>
                        </tr>
                            <td> Fruit and Vegetables </td>
                            <td> {{ form.category_boundary_form.fruit_veg_low (class="input") }}</td>
                            <td> {{ form.category_boundary_form.fruit_veg_high (class="input") }}</td>
                        </tr>
                        <tr>
                            <td> Soups and Sauces </td>
                            <td> {{ form.category_boundary_form.soup_sauce_low (class="input") }}</td>
                            <td> {{ form.category_boundary_form.soup_sauce_high (class="input") }}</td>
                        </tr>
                        <tr>
                            <td> Drinks </td>
                            <td> {{ form.category_boundary_form.drinks_low (class="input") }}</td>
                            <td> {{ form.category_boundary_form.drinks_high (class="input") }}</td>
                        </tr>
                        <tr>
                            <td> Snacks </td>
                            <td> {{ form.category_boundary_form.snacks_low (class="input") }}</td>
                            <td> {{ form.category_boundary_form.snacks_high (class="input") }}</td>
                        </tr>
                        <tr>
                            <td> Cooking Ingredients</td>
                            <td> {{ form.category_boundary_form.cooking_ingredients_low (class="input") }}</td>
                            <td> {{ form.category_boundary_form.cooking_ingredients_high (class="input") }}</td>
                        </tr>
                        <tr>
                            <td> Condiments</td>
                            <td> {{ form.category_boundary_form.condiments_low  (class="input") }}</td>
                            <td> {{ form.category_boundary_form.condiments_high (class="input") }}</td>
                        </tr>
                        <tr>
                            <td> Toiletries</td>
                            <td> {{ form.category_boundary_form.toiletries_low (class="input") }}</td>
                            <td> {{ form.category_boundary_form.toiletries_high (class="input") }}</td>

                    </table>
            <div class="submit-button">
            {{ form.submit(class="button") }}
            </div>
        </form>

    {% endif %}

{% endblock %}