{% extends "base.html" %}

{% block content %}

    {% if current_user.is_authenticated %}

        <h3> My Profile </h3>
        <h1> Account Details </h1>

        <div class="name-details">
        {{ current_user.first_name }} {{ current_user.last_name}}
        </div>

        <div class="contact-details">
        <p> Email Address:</p>
        {{ current_user.email }}
        <p> Phone Number:</p>
        {{ current_user.phone_number}}
        </div>

        <div class="address-details">

        {{ current_user.number_and_road}}
        {{ current_user.town }}
        {{ current_user.postcode }}
        </div>

        <div class="fb-preference">
        <h3> Saved Food Bank</h3>
        </div>

        {% if current_user.role=='donor' %}
        <div class="notification">
        <p> Food Banks sending you notifications:</p>
        <p>Type of notification:</p>
        </div>
        {% endif %}

        {% if current_user.role=='collector' %}
        <div class="diet_req">
        <h3>Dietary Requirements</h3>
        </div>
        {% endif %}


        {% if current_user.role=='collector' %}
        <div class="their-appointments">
        <p> Date </p>
        <p> Appointment Number</p>
        </div>
        {% endif %}

        <a href="{{ url_for('users.update_profile') }}" class="button">
                        Update Profile
                    </a>

    {% endif %}

{% endblock %}