<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">

</head>
<!-- Creating a top navigation bar  -->
<div class="nav-bar" id="top-nav-bar">
    <a href="food-banks.html"> Our Food Banks </a>
    <a href="appointments.html"> Book an Appointment </a>
    <a href="donate.html"> Donate </a>
    <a href="login.html"> Login </a>
</div>
<h1> Register </h1>
<body>

<!-- Creating the Register Form  -->

<form>
    <label for="f-name">First name:</label>
    <input type="text"><br>
    <label for="l-name">Last name:</label>
    <input type="text"><br>
    <label for="email">Email Address:</label>
    <input type="text"><br>
    <label for="phone-num">First name:</label>
    <input type="text"><br>
    <label for="password">Password:</label>
    <input type="password"><br>
    <label for="confirm-password">Confirm Password:</label>
    <input type="password">
    <input type="submit" value="Submit">

</form>

</body>
</html>