<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">

</head>
<!-- Creating a top navigation bar  -->
<nav>
    <div class="logo-image">
        <img src="logo-image"><a href="https://lh3.googleusercontent.com/2Fz6Fn5zq_hh75oNLsyNqyGSHzPopHojN77Eu6GImw_3bb4JteONR_K8lnCY2nRbZQV9RD7ACVYvTHEEoW6oGt2GNkAVXzsGdHl1XI9JWwr9ojo3N7t5mYgqaux8lESdvi4mJTti4Ok=w2400?source=screenshot.guru"></a>
    </div>
    <ul>
    <li><a href="food-banks.html"> Our Food Banks </a></li>
    <li><a href="appointments.html"> Book an Appointment </a></li>
    <li><a href="donate.html"> Donate </a></li>
    <li><a href="login.html"> Login </a></li>
    </ul>
</nav>

<body>

<!-- Creating the Register Form  -->
<div class="register-form">
<form>
    <!-- Page Header -->
    <h1> Register </h1>

    <div class="first-name">
    <label for="f-name">Name:</label>
        <input type="text" placeholder="First Name">
    </div>
    <div class="last-name">
    <label for="l-name"></label>
        <input type="text" placeholder="Last Name">
    </div>

    <label for="email">Email Address:</label>
    <input type="text" placeholder="Enter your Email Address">
    <label for="phone-num">Phone Number:</label>
    <input type="text" placeholder="Enter your Phone Number">

    <label for="password">Password:</label>
    <input type="password" placeholder="Enter your Password">
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" placeholder="Enter your Password again">

    <div class="submit-button">
    <button type="submit" value="Submit"> Submit </button>
    </div>

</form>
</div>

</body>
</html>