{% extends "base.html" %}

{% block content %}
        <div class="password_form">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="notification-is-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                <form method="POST">
                    <h1 style="padding-top: 55px;">Reset Password</h1>
                    <p style="padding-bottom: 5px; padding-top: 20px"> An email will be sent to your email,<br> with a link to reset your password.</p>
                        {{ form.csrf_token() }}
                            {{ form.email(class="input", placeholder="Email") }}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}

                        {{ form.submit(class="button") }}
                </form>
        </div>
{% endblock %}