{% extends "base.html" %}

{% block content %}

<div class="update-profile">
        <h1>Update</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}. Go to <a href="{{ url_for('users.login') }}">login page</a>.
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST">
                    {{ form.csrf_token() }}
                        {{ form.first_name(class="input") }}
                        {% for error in form.first_name.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.last_name(class="input") }}
                        {% for error in form.last_name.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.email(class="input") }}
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.phone_number(class="input") }}
                        {% for error in form.phone_number.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.number_and_road(class="input") }}
                        {% for error in form.number_and_road.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.town(class="input") }}
                        {% for error in form.town.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.postcode(class="input") }}
                        {% for error in form.postcode.errors %}
                            {{ error }}
                        {% endfor %}


                    {{ form.submit(class="button") }}
            </form>
        </div>
    </div>

{% endblock %}