{% extends "base.html" %}

<!-- @author Tess Goulandris
Displaying a form where a food bank can update their account details -->

{% block content %}

<div class="update-profile-form">
        <h1>Update</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="notification-is-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="POST">
                    {{ form.csrf_token() }}
                        {{ form.name(class="input") }}
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.email(class="input") }}
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.phone_number(class="input") }}
                        {% for error in form.phone_number.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.website(class="input") }}
                        {% for error in form.website.errors %}
                            {{ error }}
                        {% endfor %}

                    {{ form.submit(class="button") }}
            </form>
        </div>

{% endblock %}